<h2>Vehicle Details</h2>
<div id="show_vehicle" visible=false>
  <div class="form-group">
    <label for="usr">Year:</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="vehicle.year">
  </div>
  <div class="form-group">
    <label for="usr">Make:</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="vehicle.make">
  </div>
  <div class="form-group">
    <label for="usr">Model:</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="vehicle.model">
  </div>
</div>